*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #870f83;
    --secundario:rgba(240, 23, 204, 0.5);
    --gris:#757575;
}
html{
    font-size: 62.5% ;
}
body {
    font-size: 16px; /* 1rem = 10px */
}
.titulo{
    text-align: center;
    font-size: 2.8rem;
}

.titulo span{
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    line-height:2rem ;
    position: relative;/* en general*/
}
nav li ul {
    position: absolute;
}
nav a{
    color: #ddd;
    display: block;
    padding: 5px 5em ;
    width: 100%;
    text-decoration: none;
    transition:  .3s ; 
}

nav a:hover{
    background: rgba(240, 23, 204, 0.5);
}
nav ul ul {
    display: none;
}
nav li:hover ul {
    display: block;
}

/*Primer Nivel */
nav > ul {
    background: #870f83;
    display: table;/*Toma las dimenciones de su contenido*/
    width: 100%;/*Define el largo */
}
nav > ul >li {
    float: left;
}
/*Segundo Nivel*/
nav li li {
    background: #870f83;
    width: 170%;
}
nav>ul>li>ul{
    top:100%
}
.ubicacion-contenedor{
    background-image: url(./imagenes/descarga.jpeg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
.texto-ubicacion{
    position: relative;
    left:10% ;
    margin-top: 3%;
}
.texto-ubicacion h2{
    font-size: 4rem;
  margin: 10px 0 40px;
}
.texto-ubicacion  p {
    margin: 40px 0 40px;
    font-size: 25px;
}
